# Application
wp-includes/
wp-admin/
wp-content/
!wp-content/plugins/.gitkeep
!wp-content/mu-plugins/wpstarter.php
!wp-content/uploads/.gitkeep

# WordPress
.htaccess
*.php
readme.html
license.txt


# Logs
*.log

# Composer
/vendor/


!.gitignore
 
# MacOS
.DS_Store
