# Application
/*
wp-content/plugins/*
wp-content/plugins
!wp-content/plugins/.gitkeep
wp-content/mu-plugins/*/
!wp-content/mu-plugins/wpstarter.php
wp-content/themes/*
wp-content/upgrade
wp-content/uploads/*
!wp-content/uploads/.gitkeep
wp-content/cache/*

# WordPress
.htaccess

# Logs
*.log

# Composer
/vendor


!.gitignore
 
# MacOS
.DS_Store
